.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100%;
    width: 700px;
    height: 65px;

    margin: 25px;

    border: 5px solid #C4C4C4;
    border-radius: 15px;
    transition: background-color 0.2s ease;
}
.container:hover{
    cursor: pointer;
    background-color: #C4C4C4;
    color: #fff;
}
.container:hover .text {
    color: #313131;
}
.itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.text {
    font-family: Nunito;
    font-weight: 400;
    font-size: 24px;
    text-align: center;

    color: #C4C4C4;
    justify-self: center;
    
    transition: color 0.2s ease;
}
.left {
    text-align: start;
}
.center {
    text-align: center;
}
.right {
    text-align: end;
}