@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon {
    height: 70px;
    margin: 40px;
}
.nextLabel {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #C4C4C4;
}