@import "https://louisbarranqueiro.github.io/reapop/static/fonts/ArtelyInks.e";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #313131;
}
.title {
    font-family: Nunito;
    font-weight: 700;
    font-size: 48px;
    
    color: #9A363C;
}
.inputLabel {
    font-family: Nunito;
    font-weight: 400;
    font-size: 24px;
    text-align: center;

    margin: 20px 22px;

    color: #C4C4C4;
}
.createBtn {
    font-family: Nunito;
    font-style: 700;
    font-weight: bold;
    font-size: 28px;
    color: #C4C4C4;

    width: 300px;
    height: 70px;

    margin: 60px;

    border: 6px solid #A59543;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s ease;
}
.createBtn:hover {
    cursor: pointer;
    background-color: #A59543;
}
.toast {
    background-color: #313131;
    color: #C4C4C4;
}