.container {
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid #C4C4C4 7px;
    border-radius: 16px;

    width: 550px;
    height: 120px;
}
.containerItem {
    width: 80px;
}